<div class="container">

    <div class="refresh">
        <input type="text" name="search" class="search" (keyup)="search($event.target)">
        <button>search</button>
        <button (click)="refresh()">Refresh</button>
    </div>
  <div class="card-container">
    <span *ngFor="let movie of movies">
      <a (click)="openMovie(movie)">
        <span class="movie-card">
          <img
            src="https://ui-avatars.com/api/?rounded=true&name={{
              movie.title
            }}"
            alt=""
          />
          <p>{{ movie.title }}</p>
          <p>{{ movie?.genres }}</p>
          <p>{{ movie.description }}</p>
        </span>
      </a>
    </span>
  </div>
  <ul>
    <li style="display: none;" *ngFor="let page of pageno | paginate: { itemsPerPage: 10, currentPage: currpage }"></li>
  </ul>

  <pagination-controls
    (pageChange)="pageChanged($event)"
    [(ngModel)]="currpage"
    (pageBoundsCorrection)="pageChanged($event)"
    [maxSize]="9"
    [directionLinks]="true"
    [autoHide]="true"
    [responsive]="true"
  ></pagination-controls>
</div>

<div class="modal-back" *ngIf="modal" (click)="closeMovie()"> </div>
<div class="modal" *ngIf="modal">
  <span class="movie-card-modal">
    <img
      src="https://ui-avatars.com/api/?rounded=true&name={{
        currmovie.title
      }}"
      alt=""
    />
    <p>{{ currmovie.title }}</p>
    <p>{{ currmovie?.genres }}</p>
    <p>{{ currmovie.description }}</p>
  </span>


</div>
